# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ master ]
  schedule:
    - cron:  "1 9,13,17,21 * * *"

jobs:
  build:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r TEHIK_Open_Data_Loading_Scripts/requirements.txt
    - name: Get data from TEHIK API
      run: |
        python3 main.py
    - name: Commit data
      run: |
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add koroonakaart/src/data.json
        git commit -m 'Updated data' || echo "No changes to commit"
        git push https://${{github.actor}}:${{secrets.GITHUB_TOKEN}}@github.com/${{github.repository}}.git HEAD:${{ github.ref }} || echo "No changes to commit"